<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<composite:interface>
		<composite:attribute name="money" required="true" type="at.ac.tuwien.infosys.aic11.dto.Money" />
        <composite:attribute name="duration" required="true" type="at.ac.tuwien.infosys.aic11.dto.Duration" />
	</composite:interface>

	<composite:implementation>
        <div class="clearfix">
            <label for="workflow-create-money">Money</label>
            <div class="input row" style="margin-left:-20px;">
                <h:inputText value="#{cc.attrs.money.amount}" name="money-amount" id="workflow-create-money" type="number" placeholder="100000"  required="required" class="span5"/>
                <h:selectOneMenu name="mouney-currency" class="span5" required="required" value="#{cc.attrs.money.currencyCode}">
                    <f:selectItem itemValue="Euro" itemLabel="Euro" />
                    <f:selectItem itemValue="US-Dollar" itemLabel="US Dollar" />
                </h:selectOneMenu>
            </div>
        </div>
        <div class="clearfix">
            <label for="workflow-create-duration">Duration</label>
            <div class="input">
                <h:inputText type="number" value="#{cc.attrs.duration.years}" name="duration" id="workflow-create-duration" class="span10" required="required"/>
                <span class="help-block">Enter the credit duration in <strong>years</strong>.</span>
            </div>
        </div>
	</composite:implementation>
</html>

