<?xml version="1.0" encoding="UTF-8"?>
<html>
<body>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/templates/layout.xhtml">
	<ui:define name="content">
		<div class="alert-message span10">
			<p>
				<h:outputText value="Welcome to the Credit Approval Request System of the 21st century!" />
			</p>
		</div>
		<p><a href="step_create.xhtml">Create credit request</a></p>
	</ui:define>
</ui:composition>
</body>
</html>
