<?xml version="1.0" encoding="UTF-8"?>
<html>
<body>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:cn="http://java.sun.com/jsf/composite/common"
                template="/WEB-INF/templates/layout.xhtml">
    <ui:define name="content">

        <li id="workflow-accept">
            <div class="alert-message success span10">
                <p><strong>Offer accepted.</strong> Transfer of your funds has been approved.</p>
            </div>
            <p>Please be sure to make the customer return the
                <strong>signed contract</strong> via fax as soon as possible!</p>
        </li>
        <li id="workflow-final">
            <h:form class="form-stacked">
                <fieldset>
                    <h2>Finalize Contract</h2>

                    <p>If the contract from <span id="workflow-final-customer"></span> has arrived via fax,
                        finalize the process by clicking on the button below.</p>
                    <h:commandButton action="#{shippingBean.finalizeContract}"
                                     value="Yes, the signed contract has arrived." class="btn large  primary"
                                     rendered="#{shippingBean.faxReceived}"/>
                </fieldset>
            </h:form>
        </li>
    </ui:define>
</ui:composition>
</body>
</html>



