<?xml version="1.0" encoding="UTF-8"?>
<html>
<body>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:cn="http://java.sun.com/jsf/composite/common"
                template="/WEB-INF/templates/layout.xhtml">
<ui:define name="content">
    <li id="workflow-offer">
        <div class="alert-message info span10">
            <p>
                <strong>Congratulations!</strong>
                Based on the information provided, the following offer was generated.
            </p>
        </div>
        <h:form class="form-stacked">
            <fieldset>
                <legend>Credit Offer</legend>
                <h:inputHidden value="#{updateBean.creditRequest.requestId}" />
                <div class="clearfix">
                    <label for="workflow-offer-reason">Reason</label>
                    <div class="input">
                        <p class="span10" id="workflow-offer-reason">#{updateBean.creditRequest.reason}</p>
                    </div>
                </div>
                <div class="clearfix">
                    <label for="workflow-offer-customer">Customer</label>
                    <div class="input">
                        <p id="workflow-offer-customer" class="span10">#{updateBean.creditRequest.customer.name}</p>
                    </div>
                </div>
                <cn:moneyAndDuration money="#{updateBean.creditRequest.money}" duration="#{updateBean.creditRequest.duration}" />
                <div class="clearfix">
                    <label for="workflow-offer-interest">Interest Rate</label>
                    <div class="input">
                        <blockquote class="span10 bigger">
                            <strong id="workflow-offer-interest" style="display:block;
										font-size:150%; padding:10px; color:#46A546;">
                                <h:outputText id="offer-rate" value="#{updateBean.creditRequest.offer.interestRate.rate}" />
                            </strong>
                            <small>Interest rates vary depending on the requested amount,
                                the duration and your credit rating.</small>
                        </blockquote>
                    </div>
                </div>
                <div class="actions span10">
                    <h:commandButton action="#{updateBean.updateCreditRequest}" value="Update Credit Request" class="btn success" rendered="#{not updateBean.finalized}" />
                    <h:commandButton action="#{updateBean.refuseCreditRequest}" value="Refuse Credit Request" class="btn success" rendered="#{not updateBean.finalized}" style="margin-left: 10px; margin-right: 10px;"  />
                    <h:commandButton action="#{updateBean.acceptOffer}" value="Accept Offer" class="btn large success primary" rendered="#{not updateBean.finalized}" />
                    <h:messages />
                </div>
            </fieldset>
        </h:form>
    </li>
</ui:define>
</ui:composition>
</body>
</html>
