<?xml version="1.0" encoding="UTF-8"?>
<html>
<body>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:cn="http://java.sun.com/jsf/composite/common"
                template="/WEB-INF/templates/layout.xhtml">
<ui:define name="content">
    <li id="workflow-create" class="span11">
        <h:form class="form-stacked">
            <fieldset>
                <legend>Create a new credit request</legend>
                <div class="clearfix">
                    <label for="workflow-create-reason">Reason</label>
                    <div class="input">
                        <h:inputTextarea name="reason" id="workflow-create-reason"  value="#{creditBean.creditRequest.reason}" class="span10" required="required"></h:inputTextarea>
                        <span class="help-block">Give reasons why the credit should be given.</span>
                    </div>
                </div>
                <div class="clearfix">
                    <label for="workflow-create-customer">Customer</label>
                    <div class="input">
                        <h:selectOneMenu id="workflow-create-customer" value="#{creditBean.creditRequest.customer}" name="customer" class="span10" required="required">
                            <f:selectItems value="#{custBean.allCustomers}" />
                            <f:converter converterId="customerConverter" />
                        </h:selectOneMenu>
                        <span class="help-block">You may have to <a href="customers">create</a> the customer first.</span>
                    </div>
                </div>
                <cn:moneyAndDuration money="#{creditBean.creditRequest.money}" duration="#{creditBean.creditRequest.duration}" />
                <div class="clearfix">
                    <label for="workflow-create-warrantors">Warrantors</label>
                    <div class="input">
                        <h:selectManyCheckbox id="workflow-create-warrantors" value="#{creditBean.creditRequest.warrantors}" class="span10" layout="pageDirection">
                            <f:selectItems value="#{custBean.allCustomers}" />
                            <f:converter converterId="customerConverter" />
                        </h:selectManyCheckbox>
                    </div>
                </div>
                <div class="actions span10">
                    <h:commandButton action="#{creditBean.createCreditRequest}" value="Request Credit" class="btn primary" />
                    <h:messages />
                    <h:panelGroup id="msgs" rendered="#{creditBean.requestId != null and creditBean.requestId != 'failure'}">
                        <a href='step_update.xhtml?requestId=#{creditBean.requestId}'>Look at Offer</a>
                    </h:panelGroup>
                </div>
            </fieldset>
        </h:form>
    </li>
</ui:define>
</ui:composition>
</body>
</html>
