<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
>
	<h:head>
		<meta charset="utf-8" />
		<title>Credit Request System</title>
		<h:outputStylesheet name="bootstrap.min.css" library="css"/>
        <h:outputScript name="jquery.min.js" library="js" />
	</h:head>
	
	<h:body>
		<div class="topbar">
			<div class="fill">
				<div class="container">
					<span class="brand">Credit Request System</span>
					<ul class="nav">
						<li class="active"><a href="#">Contracts</a></li>
						<li><a href="#">Customers</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<section id="workflow" class="span11">
					<ol class="container">
						<ui:insert name="content"></ui:insert>
					</ol>
				</section>
				<aside id="contracts" class="span4">
					<h3><span class="label">Offered Contracts</span></h3>
					<ul id="offer_contracts">
						<ui:insert name="offer-contracts"></ui:insert>
					</ul>
					<h3><span class="label warning">Accepted Contracts</span></h3>
					<ul id="accept_contracts">
						<ui:insert name="accept-contracts"></ui:insert>
					</ul>
					<h3><span class="label success">Finalised Contracts</span></h3>
					<ul id="final_contracts">
						<ui:insert name="final-contracts"></ui:insert>
					</ul>
				</aside>
			</div>
		</div>
	</h:body>
</html>
